.job-card {
  width: 80%;
  margin: auto;
  margin-block: 1rem;
  border-radius: 6px !important;
}
.job-card-header,
.job-card-body {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.job-card-header {
  font-size: 1.25rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featured-header {
  background-color: #101820ff !important;
  color: #fee715ff;
}
.non-featured-header {
  color: #101820ff;
}
.job-card-header svg {
  margin-left: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.company-logo {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}
.featured-text {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
.job-info > div:first-child {
  color: #101820ff;
  font-weight: 500;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

.company-name {
  font-size: 1.5rem;
  width: 70%;
}
.job-card-body > div:first-child > div:first-child {
  width: 20%;
}
.job-card-body > div:first-child > div:nth-child(2) {
  width: 70%;
  padding-inline: 1rem;
}

.middle-icons svg,
.middle-icons i {
  margin-right: 0.5rem;
}
.middle-info > div {
  margin-bottom: 1rem;
}
.middle-info > div {
  margin-right: 2rem;
}
.description {
  color: rgba(0, 0, 0, 0.4);
}
.featured-icon {
  color: rgb(214, 193, 4);
}
.svg-inline--fa,
.fa,
.far,
.fas {
  cursor: pointer;
}
.action-icons {
  align-items: center;
}
.action-icons > div {
  margin-left: 1.5rem;
}
.approve-job-icon {
  color: rgb(30, 224, 88);
}
.edit-job-icon {
  color: rgb(30, 137, 224);
}
.delete-job-icon {
  color: rgb(192, 65, 65);
}
