.auth-card {
  width: 30%;
  border-radius: 1rem;
  font-family: 'Fira Sans';
  position: relative;
}
.prefernces-card {
  width: 80%;
  border-radius: 1rem;
  font-family: 'Fira Sans';
  position: relative;
}
.prefernces-card .row {
  margin-block: 1rem;
}

.auth-layout {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    #fee715ff 0%,
    #fee715ff 20%,
    #101820ff 100%
  );
  height: 100vh;
  overflow-y: auto;
  display: grid;
  place-items: center;
}
.auth-card-header {
  font-size: 1.2rem;
  font-weight: 500 !important;
}
.text-input {
  outline: 0;
  box-shadow: none !important;
}
.custom-button {
  background-color: #101820ff;
  color: #fee715ff;
  border-radius: 0.5rem;
  padding: 0.35rem 0.75rem;
  border: 0.5px solid #101820ff;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  font-size: 0.8rem;
  cursor: pointer;
}
.auth-screen-link {
  color: #101820ff;
  text-decoration: underline;
  margin: 0;
  font-size: 0.8rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.auth-error {
  font-size: 0.8rem;
  color: rgb(244, 95, 95);
  margin-top: 0.2rem;
}

.text-input .form-check-input:checked {
  background-color: rgba(9, 9, 112, 1);
  border-color: rgba(9, 9, 112, 1);
}
.text-input .form-check-input:focus {
  box-shadow: none;
}
.custom-button:disabled {
  background-color: #ccc;
  border-color: #ccc;
}
